@import '../../shared/styles/_shared';

:host {
    display: block;
    padding-top: 20px;
}

.back {
    @include inner;
    margin-bottom: 20px;
}

.back-button {
    font-size: 16px;
    font-weight: 100;
    transition: $duration;

    &:hover {
        color: $blue;
    }
}

.body {
    @include inner;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 800px;
}

.aside {
    width: 240px;
}

.aside-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: $border;
    font-size: 15px;
}