@import '../../styles/_shared';

.global_header {
  height: 120px;
  min-width: $inner-width;
  background: url(/img/bg-header.jpg) repeat-x 0 0;
  color: #fff;

  a {
    position: relative;
    transition: 300ms;
    overflow: hidden;
    color: #fff;
  }
  .logo {
    float: left;
    margin: 35px 0 0 40px;
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 13px;

    span {
      font-weight: 700;
    }
  }
  .search {
    float: right;
    margin: 35px 40px 0 0;

    input {
      width: 360px;
      padding: 0 15px 0 50px;
      background: url(/img/img-search.svg) 15px center no-repeat #fff;
      background-size: 18px auto;
      border: none;
      border-radius: 2px;
      font-size: 125%;
      line-height: 50px;
    }
  }
}