@import '../../../../shared/styles/_shared';

.item {
    padding: 15px 0;
    border-top: $border;
}

.text {
    font-size: 15px;
}

.author {
    margin-right: 2px;
    font-size: 13px;
    color: $blue;
}

.date {
    font-size: 12px;
}