@import '../../../../shared/styles/_shared';

:host {
  display: block;
  overflow: hidden;
}

.article_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;

    &.column {
      flex-direction: column;
    }
    
    // ピックアップモードの時
    // &.pickup_mode {
    //   .article_list-section:first-child {
    //     width: 100%;
    //     padding: 0;
    //     margin-bottom: 60px;
    
    //     a {
    //       display: -webkit-flex;
    //       display: flex;
    
    //       .thumbnail {
    //         width: 66.5%;
    //         height: 460px;
    
    //         .cover {
    //           height: 460px;
    //           font-size: 60px;
    //         }
    //         .visual {
    //           height: 460px;
    //         }
    //         &:hover {
    //           .cover {
    //             opacity: 0;
    //           }
    //           .visual {
    //             transform: scale(1.2);
    //           }
    //         }
    //       }
    //       .info {
    //         width: 33.5%;
    //         padding-top: 30px;
    
    //         .meta {
    //           margin-bottom: 20px;
    //         }
    //         .txt {
    //           h1 {
    //             font-size: 26px;
    //             line-height: 30px;
    //             margin-bottom: 20px;
    
    //             &:hover {
    //               color: #00a0e9;
    //             }
    //           }
    //           p {
    //             display: block;
    //           }
    //         }
    //       }
    //     }
    //   }
    //   .article_list-section:not(:first-child) {
    //     // ホバー
    //     a {
    //       flex-direction: column;
        
    //       &:hover {
    //         .thumbnail {
    //           background-size: 120% auto;
    
    //           .cover {
    //             opacity: 0;
    //           }
    //           .visual {
    //             transform: scale(1.2);
    //           }
    //         }
    //         .info {
    //           .txt {
    //             h1 {
    //               color: #00a0e9;
    //             }
    //           }
    //         }
    //       }
    //     }
    
    //     &:nth-child(3n+2) {
    //       padding: 0 7px 0 0;
    //     }
    //     &:nth-child(3n+3) {
    //       padding: 0 3px;
    //     }
    //     &:nth-child(3n+1) {
    //       padding: 0 0 0 7px;
    //     }
    //   }
    // }
}

.article_list-section {
  transition: $duration;
  width: 33.3333%;
  padding: 0 5px;
  margin-bottom: 40px;

  .column > & {
    width: 100%;
  }

  @media screen and (min-width: 1700px) {
    width: 25%;
  }
}


// Item
.article_list_item {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  transition: $duration;
  position: relative;
  height: 230px;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;

  .article_list_item:hover & {
    background-size: 120% auto;
  }

  &.summary {
    height: 120px;
  }
}

.cover {
  transition: $duration;
  position: absolute;
  z-index: 1;
  display: -flex-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  color: #fff;
  font-weight: 100;

  .article_list_item:hover & {
    opacity: 0;
  }
}

.visual {
  transition: $duration;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-repeat: none;
  background-size: cover;
  background-position: center center;

  .article_list_item:hover & {
    transform: scale(1.2);
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;

  &.summary {
    margin-top: 8px;
    padding: 0;
  }
}

.meta {
  margin-bottom: 8px;
  font-size: 15px;
}

.date {
  color: $blue;
}

.good {
  margin-left: 10px;
}

.content {
  padding: 20px 30px;

  &.summary {
    margin-top: 8px;
    padding: 0;
  }
}

.title {
  transition: $duration;
  font-size: 18px;
  line-height: 24px;

  .article_list_item:hover & {
    color: #00a0e9;
  }

  .content.summary & {
    font-size: $fontsize;
    font-weight: normal;
  }
}

.description {
  line-height: 24px;
}