@import '../../../../shared/styles/_shared';

.date {
  font-size: 20px;
}

.title {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: $border;
  font-size: 30px;
}

.visual {
  border-bottom: $border;
}

.visual > img {
  width: 100%;
  height: auto;
}

.description {
  padding: 40px 60px 20px 60px;
  font-size: 17px;
  line-height: 30px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  padding: 0 60px;
}

.comment {
  padding: 40px 60px;
  border-top: $border;
}

.comment-header {
  display: flex;
}

.comment-form {
  display: block;
  margin-bottom: 40px;
}